
$bluegreen: #086070;
$salmon: #f67362;
$orange: #fa9039;

$theme-colors: (
  "bluegreen": $bluegreen,
  "salmon": $salmon,
  "orange": $orange
);

$body-bg: $bluegreen;
// $body-color: ;

.btn-bluegreen {
  transition-duration: 0.4s;
  background-color: $bluegreen; 
  color: white;
}

.btn-bluegreen:hover {
  background-color: $salmon !important; 
  color: white;
}

@import "node_modules/bootstrap/scss/bootstrap";

